
@{
    ViewBag.Title = "Forgot Password";
}

<head>
    <link rel="stylesheet" href="~/Content/styles/common.css">
    <link rel="stylesheet" href="~/Content/styles/login.css">
</head>

@using (Html.BeginForm())
{
<div class="form-container">
    <h1 id="title" style="text-align: center; padding: 0 10px; margin-bottom: 30px;">Forgot Password?</h1>
    <form id="survey-form">
        <div class="text-success">
            @ViewBag.Message
        </div>
        <div class="u-form-group section">
            <label class="form-label">Email Address</label>
            @Html.TextBox("EmailID", "", new { @class = "email form-control" })
        </div>
        @*<div class="u-form-group section">
            <label id="email-label" for="email">Enter your email address</label>
            <input type="email" name="email" id="email" class="form-control" placeholder="Enter your Email" required />
        </div>*@

        @*<div class="u-form-group section">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Reset Password" class="btn btn-success" />
            </div>
        </div>*@

        <div class="u-form-group" id="login-button">
            <button type="submit" id="submit" class="submit-button">
                Reset
            </button>
        </div>


    </form>
</div>
}

@*<div class="form-container">
        <h1 id="title" style="text-align: center; padding: 0 10px; margin-bottom: 30px;">Welcome</h1>
        <form id="survey-form">
            <div class="u-form-group section">
                <label id="email-label" for="email">Enter your email address</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="Enter your Email" required />
            </div>
            <div class="u-form-group section">
                <label id="number-label" for="password">Password</label>
                <input type="text" name="password" id="password" placeholder="Password" />
            </div>
            <div class="u-form-group" id="forgot-password">
                <a href="#">Forgot Password?</a>
            </div>
            <div class="u-form-group" id="login-button">
                <button type="submit" id="submit" class="submit-button">
                    Login
                </button>
            </div>
        </form>
    </div>*@

