
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/Content/styles/common.css">
    <link rel="stylesheet" href="~/Content/styles/contact.css">
</head>

<!-- main -->
<section class="section-five">
    <div class="container">
        <div class="contact-top">
            <h3>CONTACT US</h3>
            <p class="middle">Let's work together...</p>
        </div>

        <div class="contact-middle">
            <div class="rounded-border">
                <span class="contact-icon">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                </span>
                <span>Address</span>
                <p class="middle">Bloemfontein, FS</p>
            </div>

            <div  class="rounded-border">
                <span class="contact-icon">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                </span>
                <span>Contact Number</span>
                <p class="middle">+27 51 599 7688</p>
            </div>

            <div  class="rounded-border">
                <span class="contact-icon">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </span>
                <span >Email Address</span>
                <p class="middle">ukhalelani_helpdesk@webmail.co.za</p>
            </div>

            <div  class="rounded-border">
                <span class="contact-icon">
                    <i class="fa fa-code" aria-hidden="true"></i>
                </span>
                <span>Website</span>
                <p class="middle">www.ukhalelanihelpdesk.com</p>
            </div>
        </div>
    </div>
</section>
<!-- end of main -->
